.footer{
    height: 100%;
}

.footer > h6 {
    margin: 0; /* cancel the margin from the header*/
    /*Vertical Center Combination*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}